/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Inter font as the default font family for the entire application */
* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
